server:
    port: 8080

spring:
    application:
        name: restapi

    config:
        activate:
            on-profile: prod

    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/RESTAPI_DB?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
        username: root
        password: rootpassword

    jpa:
        open-in-view: false
        show-sql: true
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                format_sql: true
logging:
    level:
        org.springframework.web: DEBUG
#    pattern:
#        console: "%d{HH:mm:ss.SSS}|%highlight(%-5level)|%X{traceId:-}|%green(%t)|%logger|%blue(\\(%F:%L\\))|%msg%n"
