server:
    port: 8080

spring:
    application:
        name: restapi

    config:
        activate:
            on-profile: local

    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/RESTAPI_DB?useSSL=false&serverTimezone=Asia/Seoul
        username: root
        password: rootpassword

    jpa:
        database-platform: org.hibernate.dialect.MySQLDialect
        open-in-view: false
        show-sql: true
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                format_sql: true
logging:
    level:
        org.springframework.web: DEBUG
